In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv(r'C:\Users\aryan\OneDrive\Desktop\CSI PROJECT\imdb_top_1000.csv')
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [8]:
df.describe(), df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

(       IMDB_Rating  Meta_score   No_of_Votes
 count  1000.000000  843.000000  1.000000e+03
 mean      7.949300   77.971530  2.736929e+05
 std       0.275491   12.376099  3.273727e+05
 min       7.600000   28.000000  2.508800e+04
 25%       7.700000   70.000000  5.552625e+04
 50%       7.900000   79.000000  1.385485e+05
 75%       8.100000   87.000000  3.741612e+05
 max       9.300000  100.000000  2.343110e+06,
 None)

In [9]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [10]:
df['Released_Year'].value_counts()

Released_Year
2014    32
2004    31
2009    29
2013    28
2016    28
        ..
1926     1
1936     1
1924     1
1921     1
PG       1
Name: count, Length: 100, dtype: int64

In [11]:
new_df = df.copy()
new_df.drop('Poster_Link', axis=1, inplace=True)
new_df.drop('Overview', axis=1, inplace=True)
new_df['No_of_Votes'] = new_df['No_of_Votes'].astype(float)
new_df['Gross'] = new_df['Gross'].str.replace(",", "").astype(float)
new_df['Released_Year'] = pd.to_numeric(new_df['Released_Year'], errors='coerce')
new_df['Runtime'] = new_df['Runtime'].str.replace(' min', '').astype(int)

In [12]:
new_df['Gross'] = new_df['Gross'].fillna(new_df['Gross'].median())
new_df['Meta_score'] = new_df['Meta_score'].fillna(new_df['Meta_score'].median())

In [13]:
new_df['Released_Year'].values, new_df['Runtime'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Runtime
Non-Null Count  Dtype
--------------  -----
1000 non-null   int32
dtypes: int32(1)
memory usage: 4.0 KB

(array([1994., 1972., 2008., 1974., 1957., 2003., 1994., 1993., 2010.,
        1999., 2001., 1994., 1966., 2002., 1999., 1990., 1980., 1975.,
        2020., 2019., 2020., 2014., 2002., 2001., 1998., 1999., 1997.,
        1995., 1991., 1977., 1962., 1954., 1946., 2019., 2014., 2011.,
        2006., 2006., 2002., 2000., 1998., 1995., 1994., 1994., 1991.,
        1988., 1988., 1985., 1968., 1960., 1942., 1936., 1931., 2018.,
        2017., 2017., 2016., 2016., 2018., 2019., 2018., 2017., 2012.,
        2012., 2009., 2007., 2008., 2006., 2003., 2000., 1997., 1984.,
        1981., 1980., 1979., 1979., 1971., 1963., 1964., 1957., 1957.,
        1954., 1950., 1940., 2019., 2018., 2018., 2013., 2012., 2011.,
        2010., 2019., 2005., 2009., 2004., 2001., 2000., 2000., 1999.,
        1997., 1997., 1995., 1995., 1992., 1987., 1985., 1986., 1984.,
        1983., 1983., 1981., 1976., 1973., 1971., 1968., 1965., 1962.,
        1960., 1959., 1958., 1952., 1952., 1948., 1944., 1941., 1931.,
        1927., 1921., 2019., 2018., 2018., 2018., 2017., 2015., 2017.,
        2019., 2015., 2013., 2013., 2013., 2012., 2010., 2012., 2009.,
        2011., 2010., 2009., 2013., 2007., 2007., 2006., 2010., 2005.,
        2006., 2005., 2005., 2004., 2004., 2004., 2001., 2000., 1998.,
        1997., 1996., 1995., 1995., 1994., 1992., 1989., 1988., 1988.,
        1988., 1985., 1980., 1979., 1978., 1976., 1975., 1975., 1963.,
        1962., 1961., 1961., 1959., 1957., 1957., 1955., 1954., 1953.,
        1950., 1950., 1948., 1942., 1925., 1924., 2019., 2016., 2016.,
        2016., 2016., 2014., 2014., 2017., 2015., 2014., 2020., 2014.,
        2014., 2012., 2014., 2014., 2012., 2016., 2015., 2012., 2013.,
        2013., 2019., 2015., 2014., 2012., 2011., 2013., 2015., 2008.,
        2008., 2011., 2008., 2009., 2009., 2010., 2007., 2007., 2006.,
        2004., 2004., 2004., 2004., 2003., 2003., 2001., 2003., 2003.,
        2002., 2000., 2001., 1997., 2001., 1999., 1998., 1998., 1998.,
        1998., 2000., 1996., 1996., 1995., 1995., 1995., 1995., 1994.,
        1994., 1993., 1993., 1993., 1991., 1989., 1986., 1986., 1984.,
        1984., 1982., 1982., 1982., 1982., 1982., 1980., 1979., 1978.,
        1976., 1976., 1975., 1975., 1974., 1973., 1972., 1972., 1967.,
        1967., 1966., 1966., 1966., 1962., 1962., 1962., 1962., 1962.,
        1960., 1960., 1959., 1959., 1958., 1957., 1957., 1957., 1954.,
        1953., 1951., 1949., 1949., 1948., 1940., 1940., 1939., 1939.,
        1937., 1934., 1928., 1928., 1927., 1926., 1920., 2018., 2019.,
        2016., 2015., 2015., 2016., 2016., 2015., 2016., 2015., 2013.,
        2017., 2019., 2013., 2013., 2014., 2014., 2014., 2017., 2013.,
        2018., 2015., 2012., 2010., 2010., 2011., 2016., 2009., 2009.,
        2008., 2010., 2009., 2008., 2010., 2007., 2012., 2007., 2013.,
        2006., 2006., 2007., 2004., 2005., 2007., 2004., 2007., 2006.,
        2004., 2003., 2003., 2014., 2005., 2003., 2002., 2003., 2003.,
        2004., 2001., 2003., 2001., 2001., 1999., 2000., 1999., 1997.,
        1998., 1998., 1999., 1997., 1996., 1996., 1995., 1995., 1993.,
        1993., 1993., 1992., 1992., 1991., 1991., 1990., 1989., 1988.,
        1988., 1987., 1987., 1987., 1986., 1984., 1982., 1980., 1979.,
        1977., 1975., 1975., 1974., 1973., 1973., 1972., 1971., 1971.,
        1970., 1969., 1968., 1968., 1967., 1966., 1965., 1965., 1964.,
        1963., 1962., 1961., 1960., 1959., 1959., 1958., 1958., 1957.,
        1956., 1955., 1954., 1955., 1953., 1953., 1951., 1950., 1949.,
        1948., 1947., 1945., 1944., 1946., 1942., 1941., 1940., 1939.,
        1939., 1934., 1930., 1925., 2019., 2020., 2018., 2019., 2017.,
        2016., 2018., 2016., 2016., 2016., 2017., 2014., 2019., 2016.,
        2015., 2013., 2014., 2011., 2011., 2014., 2012., 2019., 2009.,
        2009., 2008., 2009., 2008., 2007., 2014., 2007., 2009., 2008.,
        2007., 2006., 2006., 2012., 2009., 2005., 2004., 2008., 2004.,
        2004., 2003., 2004., 2002., 2002., 2001., 2001., 2002., 2000.,
        2006., 2000., 2001., 1999., 1997., 1995., 1994., 1993., 1993.,
        1993., 1993., 1990., 1989., 1989., 1987., 1986., 1985., 1984.,
        1983., 1980., 1979., 1979., 1978., 1976., 1973., 1973., 1972.,
        1972., 1971., 1970., 1969., 1968., 1968., 1967., 1963., 1962.,
        1960., 1960., 1959., 1956., 1956., 1955., 1952., 1951., 1950.,
        1947., 1946., 1946., 1945., 1940., 1940., 1938., 1935., 1933.,
        1932., 1922., 2019., 2018., 2019., 2016., 2017., 2016., 2016.,
        2017., 2016., 2016., 2016., 2016., 2015., 2016., 2016., 2015.,
        2019., 2017., 2014., 2013., 2013., 2013., 2012., 2014., 2013.,
        2012., 2013., 2019., 2013., 2012., 2014., 2015., 2010., 2010.,
        2011., 2013., 2010., 2015., 2009., 2008., 2013., 2009., 2009.,
        2020., 2020., 2010., 2008., 2008., 2007., 2012., 2007., 2007.,
        2011., 2007., 2009., 2009., 2006., 2006., 2007., 2008., 2004.,
        2005., 2005., 2005., 2003., 2005., 2005., 2003., 2004., 2004.,
        2002., 2003., 2000., 2002., 2001., 2000., 2000., 1999., 2000.,
        1999., 1999., 1999., 2001., 1997., 1997., 1997., 1997., 1996.,
        1994., 1993., 1993., 1993., 1993., 1993., 1993., 1993., 1993.,
        1992., 1991., 1991., 1991., 1990., 1990., 1989., 1989., 1989.,
        1989., 1988., 1987., 1987., 1986., 1986., 1985., 1985., 1985.,
        1984., 1984., 1983., 1982., 1982., 1979., 1978., 1976., 1975.,
        1974., 1973., 1973., 1973., 1972., 1971., 1969., 1967., 1967.,
        1967., 1964., 1964., 1962., 1962., 1961., 1960., 1948., 1948.,
        1944., 1943., 1939., 1938., 1938., 1935., 1933., 1932., 1931.,
        2018., 2017., 2018., 2017., 2017., 2018., 2015., 2014., 2014.,
        2014., 2014., 2014., 2015., 2014., 2013., 2013., 2012., 2014.,
        2011., 2013., 2012., 2015., 2011., 2011., 2014., 2013., 2013.,
        2015., 2010., 2011., 2009., 2012., 2012., 2012., 2009., 2010.,
        2008., 2008., 2006., 2008., 2010., 2006., 2006., 2006., 2014.,
        2006., 2006., 2007., 2006., 2005., 2007., 2010., 2006., 2005.,
        2007., 2004., 2004., 2004., 2004., 2004., 2003., 2005., 2004.,
        2009., 2003., 2002., 2003., 2002., 2001., 2002., 2001., 2002.,
        2001., 2000., 2001., 2001., 2000., 2000., 2002., 1999., 1999.,
        1998., 2001., 1998., 1997., 1999., 1997., 1997., 1998., 1997.,
        1996., 1996., 1996., 1995., 1995., 1994., 1994., 1993., 1993.,
        1992., 1992., 1992., 1992., 1992., 1992., 1991., 1991., 1990.,
        1988., 1988., 1987., 1987., 1987., 1986., 1986., 1985., 1985.,
        1983., 1982., 1982., 1982., 1980., 1980., 1979., 1978., 1976.,
        1975., 1974., 1974., 1973., 1973., 1972., 1971., 1971., 1968.,
        1968., 1967., 1967., 1966., 1965., 1964., 1964., 1963., 1962.,
        1960., 1960., 1960., 1956., 1955., 1955., 1954., 1952., 1951.,
        1951., 1946., 1940., 1933., 2019., 2018., 2019., 2017., 2017.,
        2019., 2017., 2019., 2015., 2015., 2017., 2017., 2017., 2015.,
        2018., 2016., 2015., 2015., 2014., 2016., 2013., 2014., 2012.,
        2011., 2012., 2010., 2018., 2010., 2010., 2010., 2011., 2010.,
        2009., 2011., 2011., 2009., 2008., 2009., 2009., 2007., 2008.,
        2007., 2007., 2009., 2006., 2007., 2007., 2006., 2006., 2004.,
        2009., 2006., 2005., 2009., 2005., 2004., 2008., 2004., 2003.,
        2004., 2003., 2003., 2002., 2004., 2002., 2004., 2002., 2000.,
        2001., 2001., 2001., 2001., 2001., 2001., 2002., 1999., 2000.,
        1998., 1998., 1998., 1998., 1997., 1998., 1996., 1997., 1995.,
        1995., 1995., 1995.,   nan, 1994., 1993., 1993., 1992., 1991.,
        1991., 1990., 1990., 1989., 1989., 1988., 1987., 1987., 1984.,
        1981., 1981., 1979., 1979., 1979., 1978., 1978., 1977., 1973.,
        1971., 1970., 1967., 1966., 1964., 1961., 1956., 1953., 1944.,
        1935.]),
 None)

In [14]:
# Used multilabelbinarizer to create athe same effect as onehotencoder but for more than two classes/columns [custom onehot encoding]

from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.preprocessing import OneHotEncoder
new_df['Genre_List'] = new_df['Genre'].fillna('').str.split(',\s*')
new_df['Genre_List'].value_counts()
new_df.index

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\aryan\AppData\Local\Temp\ipykernel_10396\3234653531.py:5: SyntaxWarning: invalid escape sequence '\s'
  new_df['Genre_List'] = new_df['Genre'].fillna('').str.split(',\s*')

RangeIndex(start=0, stop=1000, step=1)

In [15]:

mlb = MultiLabelBinarizer()
onehot = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_cert = onehot.fit_transform(new_df['Certificate'].values.reshape(-1,1)) #Passing only one feature so converting it into appropriate shape required for OneHotEncoder to work
encoded_cert_df = pd.DataFrame(encoded_cert, columns=onehot.get_feature_names_out(['Certificate']), index= new_df.index)

genre_encoded = mlb.fit_transform(new_df['Genre_List'])

genre_df = pd.DataFrame(genre_encoded, columns=[f'genre_{g}' for g in mlb.classes_])
genre_df.index = new_df.index
new_df = pd.concat([new_df, encoded_cert_df, genre_df], axis=1)
new_df.drop(columns=['Genre', 'Genre_List', 'Certificate'], inplace=True)

In [16]:
new_df.isnull().sum()

Series_Title            0
Released_Year           1
Runtime                 0
IMDB_Rating             0
Meta_score              0
Director                0
Star1                   0
Star2                   0
Star3                   0
Star4                   0
No_of_Votes             0
Gross                   0
Certificate_16          0
Certificate_A           0
Certificate_Approved    0
Certificate_G           0
Certificate_GP          0
Certificate_PG          0
Certificate_PG-13       0
Certificate_Passed      0
Certificate_R           0
Certificate_TV-14       0
Certificate_TV-MA       0
Certificate_TV-PG       0
Certificate_U           0
Certificate_U/A         0
Certificate_UA          0
Certificate_Unrated     0
Certificate_nan         0
genre_Action            0
genre_Adventure         0
genre_Animation         0
genre_Biography         0
genre_Comedy            0
genre_Crime             0
genre_Drama             0
genre_Family            0
genre_Fantasy           0
genre_Film-Noir         0
genre_History           0
genre_Horror            0
genre_Music             0
genre_Musical           0
genre_Mystery           0
genre_Romance           0
genre_Sci-Fi            0
genre_Sport             0
genre_Thriller          0
genre_War               0
genre_Western           0
dtype: int64

In [17]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 50 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Series_Title          1000 non-null   object
 1   Released_Year         999 non-null    float64
 2   Runtime               1000 non-null   int32
 3   IMDB_Rating           1000 non-null   float64
 4   Meta_score            1000 non-null   float64
 5   Director              1000 non-null   object
 6   Star1                 1000 non-null   object
 7   Star2                 1000 non-null   object
 8   Star3                 1000 non-null   object
 9   Star4                 1000 non-null   object
 10  No_of_Votes           1000 non-null   float64
 11  Gross                 1000 non-null   float64
 12  Certificate_16        1000 non-null   float64
 13  Certificate_A         1000 non-null   float64
 14  Certificate_Approved  1000 non-null   float64
 15  Certificate_G         1000 non-null   float64
 16  Certificate_GP        1000 non-null   float64
 17  Certificate_PG        1000 non-null   float64
 18  Certificate_PG-13     1000 non-null   float64
 19  Certificate_Passed    1000 non-null   float64
 20  Certificate_R         1000 non-null   float64
 21  Certificate_TV-14     1000 non-null   float64
 22  Certificate_TV-MA     1000 non-null   float64
 23  Certificate_TV-PG     1000 non-null   float64
 24  Certificate_U         1000 non-null   float64
 25  Certificate_U/A       1000 non-null   float64
 26  Certificate_UA        1000 non-null   float64
 27  Certificate_Unrated   1000 non-null   float64
 28  Certificate_nan       1000 non-null   float64
 29  genre_Action          1000 non-null   int32
 30  genre_Adventure       1000 non-null   int32
 31  genre_Animation       1000 non-null   int32
 32  genre_Biography       1000 non-null   int32
 33  genre_Comedy          1000 non-null   int32
 34  genre_Crime           1000 non-null   int32
 35  genre_Drama           1000 non-null   int32
 36  genre_Family          1000 non-null   int32
 37  genre_Fantasy         1000 non-null   int32
 38  genre_Film-Noir       1000 non-null   int32
 39  genre_History         1000 non-null   int32
 40  genre_Horror          1000 non-null   int32
 41  genre_Music           1000 non-null   int32
 42  genre_Musical         1000 non-null   int32
 43  genre_Mystery         1000 non-null   int32
 44  genre_Romance         1000 non-null   int32
 45  genre_Sci-Fi          1000 non-null   int32
 46  genre_Sport           1000 non-null   int32
 47  genre_Thriller        1000 non-null   int32
 48  genre_War             1000 non-null   int32
 49  genre_Western         1000 non-null   int32
dtypes: float64(22), int32(22), object(6)
memory usage: 304.8+ KB

In [18]:
# Lets train our recommendation system using this dataset 
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

genre_cols = [col for col in new_df.columns if col.startswith("genre_")]
certificate_cols = [col for col in new_df.columns if col.startswith('Certificate_')]

numeric_cols = ['Meta_score','No_of_Votes','Gross','Runtime','Released_Year']
categorical_cols = ['Director', 'Star1', 'Star2', 'Star3', 'Star4']

scaler = MinMaxScaler()
new_df[numeric_cols] = scaler.fit_transform(new_df[numeric_cols].fillna(0)) # One na in released year

onehot = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
categorical_mtx = onehot.fit_transform(new_df[categorical_cols])
categorical_df = pd.DataFrame(categorical_mtx, columns=onehot.get_feature_names_out(categorical_cols), index = new_df.index)

feature_mtx = pd.concat(
    [
        new_df[genre_cols],
        new_df[certificate_cols],
        new_df[numeric_cols],
        categorical_df,
    ],
    axis = 1
)

cosine_sim = cosine_similarity(feature_mtx, feature_mtx)


def recommend_by_title(title, top_rec = 5):
    if title not in new_df['Series_Title'].values:
        return f"Movie '{title}' not found in database."
    
    index = new_df[new_df['Series_Title'] == title].index[0]
    sim_score = list(enumerate(cosine_sim[index]))
    sim_score = sorted(sim_score, key=lambda x: x[1], reverse= True)

    top_recommendations = [i for i, score in sim_score[1:top_rec+1]]

    return new_df.iloc[top_recommendations][['Series_Title', 'Director', 'Star1', 'IMDB_Rating']]

def recommend_by_genre(genre, top_rec = 5):
    genre_col = f"genre_{genre}"
    if genre_col not in new_df.columns:
        return f"Genre '{genre}' not found in database"
    
    genre_movies = new_df[new_df[genre_col] == 1]
    if genre_movies.empty:
        return f"No movies found for genre '{genre}"
    
    genre_movies = genre_movies.copy()
    genre_movies['score'] = (genre_movies['IMDB_Rating']*0.7) + (genre_movies["No_of_Votes"]*0.3) # Score based more towards IMDB rating rather than no of votes (people) 
    top_movies_rec = genre_movies.sort_values('score', ascending=False).head(top_rec)

    return top_movies_rec[['Series_Title', 'IMDB_Rating', 'Director', 'Star1']]

s = input("Enter the title of movie you have watched: ")
print(f"\nMovies similar to '{s}': ")
print(recommend_by_title(s, top_rec=5))

g = input("Enter the genre of movie you want to watch: ")
print(f"\nTop {g} Movies: ")
print(recommend_by_genre(g, top_rec=5))

Movies similar to 'Interstellar':
              Series_Title           Director              Star1  IMDB_Rating
8                Inception  Christopher Nolan  Leonardo DiCaprio          8.8
329            The Martian       Ridley Scott         Matt Damon          8.0
63   The Dark Knight Rises  Christopher Nolan     Christian Bale          8.4
155          Batman Begins  Christopher Nolan     Christian Bale          8.2
2          The Dark Knight  Christopher Nolan     Christian Bale          9.0

Top Action Movies:
                                         Series_Title  IMDB_Rating  \
2                                     The Dark Knight          9.0
5       The Lord of the Rings: The Return of the King          8.9
8                                           Inception          8.8
10  The Lord of the Rings: The Fellowship of the Ring          8.8
14                                         The Matrix          8.7

             Director              Star1
2   Christopher Nolan     Christian Bale
5       Peter Jackson        Elijah Wood
8   Christopher Nolan  Leonardo DiCaprio
10      Peter Jackson        Elijah Wood
14     Lana Wachowski    Lilly Wachowski

Here we have used One Hot Encoding to achieve the content based algorithm, lets try using TF-IDF Vectorization algorithm too

In [19]:
new_df.to_csv("movies.csv")
np.save("similarity_matrix.npy", cosine_sim)

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

df_1 = df.copy()
df_1.drop('Poster_Link', axis=1, inplace=True)
df_1['No_of_Votes'] = df_1['No_of_Votes'].astype(float)
df_1['Gross'] = df_1['Gross'].str.replace(",", "").astype(float)
df_1['Released_Year'] = pd.to_numeric(df_1['Released_Year'], errors='coerce')
df_1['Runtime'] = df_1['Runtime'].str.replace(' min', '').astype(int)
df_1['Gross'] = df_1['Gross'].fillna(df_1['Gross'].median())
df_1['Meta_score'] = df_1['Meta_score'].fillna(df_1['Meta_score'].median())

In [21]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  999 non-null    float64
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   int32
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   Overview       1000 non-null   object
 7   Meta_score     1000 non-null   float64
 8   Director       1000 non-null   object
 9   Star1          1000 non-null   object
 10  Star2          1000 non-null   object
 11  Star3          1000 non-null   object
 12  Star4          1000 non-null   object
 13  No_of_Votes    1000 non-null   float64
 14  Gross          1000 non-null   float64
dtypes: float64(5), int32(1), object(9)
memory usage: 113.4+ KB

In [22]:
df_1['Combined_Features'] = (
    df_1['Overview'].fillna("") + ' ' +
    df_1['Director'].fillna("") + ' ' + 
    df_1['Star1'].fillna("") + ' ' + 
    df_1['Star2'].fillna("") + ' ' + 
    df_1['Star3'].fillna("") + ' ' + 
    df_1['Star4'].fillna("") + ' ' + 
    df_1['Genre'].astype(str).str.replace(",", " ")
) # Combined text features for tdilf vectorizer

tfidf = TfidfVectorizer(stop_words='english')
tfidf_mtx = tfidf.fit_transform(df_1['Combined_Features'])

cosine_sim = cosine_similarity(tfidf_mtx, tfidf_mtx)

def recommend_tfidf(title, cosine_sim=cosine_sim): # Here, cosine_sim = cosine_sim says that if cosine_sim has not been provided by user, use the already computed cosine_sim
    if title not in df_1['Series_Title'].values:
        return 'Movie not found in the database'

    idx = df_1[df_1['Series_Title'] == title].index[0]
    similarity_scores = list(enumerate(cosine_sim[idx]))
    similarity_scores = sorted(similarity_scores, key= lambda x: x[1], reverse = True)
    movie_idx = [i for i, score in similarity_scores[1:11]]# top 10 excluding the movie itself, Similarity_scores -> (index, similarity score)
    return df_1.iloc[movie_idx][['Series_Title', 'Director', 'IMDB_Rating', 'Star1']]

s = input("Enter the name of movie you have watched: ")
print(f"Recommended Movies based on '{s}':")
print(recommend_tfidf(s))

# This model usually performs better as Tf-idf Vectorizer converts the text from description and other things into numbers depending on the frequency and creates vector representation
# Then this vector vectorizer can be used for similarities using the cosine similarity function and accurate recommendtions can be made

Recommended Movies based on 'Interstellar':
              Series_Title           Director  IMDB_Rating  \
329            The Martian       Ridley Scott          8.0
63   The Dark Knight Rises  Christopher Nolan          8.4
357           The Avengers        Joss Whedon          8.0
654                Gattaca      Andrew Niccol          7.8
69                 Memento  Christopher Nolan          8.4
741        Le Petit Prince       Mark Osborne          7.7
36            The Prestige  Christopher Nolan          8.5
8                Inception  Christopher Nolan          8.8
569          The Gentlemen        Guy Ritchie          7.8
106                 Aliens      James Cameron          8.3

                   Star1
329           Matt Damon
63        Christian Bale
357    Robert Downey Jr.
654          Ethan Hawke
69            Guy Pearce
741         Jeff Bridges
36        Christian Bale
8      Leonardo DiCaprio
569  Matthew McConaughey
106     Sigourney Weaver

In [23]:
df_1['Genre'].astype(str).str.replace(",", " ")

0                         Drama
1                  Crime  Drama
2          Action  Crime  Drama
3                  Crime  Drama
4                  Crime  Drama
                 ...
995      Comedy  Drama  Romance
996              Drama  Western
997         Drama  Romance  War
998                  Drama  War
999    Crime  Mystery  Thriller
Name: Genre, Length: 1000, dtype: object

In [24]:
import joblib

joblib.dump(tfidf,"tfidf_vectorizer.pkl")
joblib.dump(tfidf_mtx,"tfidf_matrix.pkl")
df_1.to_csv("movies_1.csv", index=False)

In [25]:
np.save("similarity_matrix1.npy", cosine_sim)